$red: #d07c7a;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 25px;
  font-family: 'Raleway', sans-serif;
  color: #696969;
}

.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/header.png");
  background-size: cover;
  background-position-y: 40%; 
  width: 100%;
  height: 660px;
  color: #ffffff;
}

.logo {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-weight: normal;
  display: flex;
  flex-direction: column;

  &--w {
    font-size: 36px;

    small {
      font-size: 28px;
    }
  }

  &--b {
    font-size: 24px;
    margin-left: 60px;
    
    a {
      text-decoration: none;
      color: #696969;
    }
  }

  &--footer {
    font-size: 24px;
    color: #000000;
  }
}

.slogan {
  font-size: 48px;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  margin-top: 55px;
  padding-bottom: 25px;
  text-align: center;

  &__desc {
    max-width: 480px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.5px;
  }

  &::after {
    content: '';
    width: 80px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    margin: 0 auto; 
    margin-top: 25px;
    transform: translateY(-50%);
  }
}

@keyframes arrow {
  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.scroll-down {
  position: absolute;
  bottom: 70px;
  font-size: 26px;
  color: #ffffff;
  padding: 5px;
  cursor: pointer;

  &:hover {
    animation: arrow 1s infinite;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #ebebeb;
  background-color: #ffffff;
  z-index: 10;

  &.sticky {
    position: sticky;
    top: 0;
  }
}

.menu {
  display: flex;
  list-style: none;
  color: #696969;
  margin-right: 40px;

  &__el { 
    position: relative;
    text-transform: uppercase;

    &.active a {
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $red;      
      }
    }

    a {
      color: #696969;
      text-decoration: none;
      margin: 25px;
      font-size: 14px;
      letter-spacing: 0.5px;
      position: relative;

      &::after {
        content: '';
        transition: .35s;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.hamburger {
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  min-height: 300px;
  padding-top: 50px;
}

.section-title {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  text-align: center;

  &:after {
    content: '';
    width: 60px;
    height: 3px;
    background-color: $red;
    display: block;
    margin: 0 auto; 
    margin-top: 25px;
    transform: translateY(-50%);
  }
}

.section-desc {
  max-width: 800px;
  color: #a7a7a7;
  text-align: center;
  font-size: 15px;
  line-height: 175%;
  margin-top: 25px;
  padding: 0 10px 0 10px;
}

.works {
  padding-top: 75px;
}

.gallery {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  z-index: 100;
  display: none;

  &.active {
    display: block;
  }
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  max-height: 80vh;
}

.close {
  font-size: 40px;
  position: absolute;
  width: 35px; 
  top: 5vw;
  right: 5vw;
  font-family: 'Raleway', sans-serif;
  border: 0;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  transition: .2s;
  color: #ffffff;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.next,
.prev {
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  background-color: transparent;
  color: #ffffff;
  z-index: 10000;
}

.prev {
  left: 5vw;
}

.next {
  right: 5vw;
}

.work-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 70vw;
  height: 70vw;
  grid-gap: 25px;
  margin-top: 50px;
}

.work {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.one {
  background-image: url("img/work1.png");
  grid-column: 1/3;
}

.two {
  background-image: url("img/work2.png");
  grid-column: 3/3;
  grid-row: 1/3;
}

.three {
  background-image: url("img/work3.png");

}

.four {
  background-image: url("img/work4.png");

}

.five {
  background-image: url("img/work5.png");
  grid-column: 1/3;
}

.six {
  background-image: url("img/work6.png");

}

.title-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  width: 200px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.15);
  transition: .4s;
}

.work-title {
  font-weight: normal;
  text-align: center;
  font-size: 22px;
  font-family: 'Playfair Display', serif;

  &:after {
    content: '';
    width: 160px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.title-desc {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.border {
  &::after,
  &::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    display: block;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
  }

  &--top::after {
    left: 0;
    top: 0;
  }

  &--top::before {
    right: 0;
    top: 0;
    border-left: 0;
    border-right: 2px solid #ffffff;
  }

  &--bottom::after {
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #ffffff;
    border-top: 0;
  }

  &--bottom::before {
    right: 0;
    bottom: 0;
    border: 0;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }
}

.work:hover {
  .title-container {
    opacity: 0;
    margin-top: 100px;
  }
}

.btn {
  text-transform: uppercase;
  color: #ffffff;
  background-color: $red;
  border: 0;
  transition: .3s;
  width: 200px;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;

  &--s {
    width: 150px;
  }

  &--b {
    margin-top: 80px;
  }
  
  &:hover,
  &:active,
  &:focus {
    background-color: #dd6765;
  }
}

.testimonials {
  height: 500px;

  .section-title {
    text-transform: none;
    margin-bottom: 45px;
    font-size: 26px;
  }
}

.slider {
  display: flex;
  width: 550px;
  transition: 0.7s;
}

.slider-container {
  overflow: hidden;
}

.testimonial {
  text-align: center;
  width: 550px;

  &__desc {
    color: #858585;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 300;
    line-height: 140%;
    width: 550px;
  }

  &__author {
    color: #bababa;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #d2d2d2;
  border: 0;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
  outline: 0;

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 100%;
  }

  &.active {
    width: 15px;
    height: 15px;
    background-color: $red;
  }
}

.video {
  height: 650px;
  background-image: url("img/bg1.png");
  background-size: cover;

  &__title {
    text-transform: uppercase;
    font-size: 14px;
    color: #000000;
    font-weight: normal;
    margin-top: 30px;
  }

  &__play {
    width: 70px;
    height: 55px;
    position: relative;
    background-color: transparent;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba(0, 0, 0, 0.15);
    }

    .border::after,
    .border::before {
      border-color: #000000;
      border-width: 1px;
      width: 15px;
      height: 15px;
    }
  }
}

.social-media {
  min-height: 380px;
  padding: 25px 0 5px 0;
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icon {
  width: 55px;
  height: 55px;
  display: block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #838182;
  text-decoration: none;
  font-size: 28px;
  margin: 20px 40px 20px 40px;
  transition: .3s;
  position: relative;

  &:hover {
    color: #ffffff;
    background-color: #e7b5b6;

    .frame {
      width: 70px;
      height: 70px;
      opacity: 1;
    }
  }
}

.frame {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 1px solid #e7b5b6;
  border-radius: 50%;
  transition: .3s;
  opacity: 0;
}

.contact {
  height: 700px;
  background-image: url("img/bg2.png");
  background-size: cover;

  .section-desc {
    margin-bottom: 45px;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 350px;
}

.label {
  display: none;
}

.input {
  width: 600px;
  height: 50px;
  border: 1px solid $red;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #828282;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;

  &:active,
  &:focus {
    outline: 2px solid #dd6765;
  }
  
  &::placeholder {
    color: #828282;
  }

  &--message {
    height: 140px;
    resize: none;
    padding-top: 20px;
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 10px;
  width: 100%;

  .section-desc {
    margin: 0 0 0 30px;
  }
}

.footer {
  min-height: 160px;

}

.top {
  font-size: 32px;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #8c8c8c;
  cursor: pointer;
  
  &:hover {
    animation: arrow 1s infinite;
  }
}

@media (max-width: 940px) {
  .work-container {
    width: 100%;
  }

  .slogan {
    font-size: 36px;
  }

  .section-title {
    font-size: 24px;
    padding: 0 10px 0 10px;
  }

  .title-container {
    width: 90%;
  }

  .work:hover {
    .title-container {
      margin-top: 0;
      opacity: 1;
    }
  }
  
  .logo--b {
    margin: 0;
  }

  .nav {
    justify-content: space-around;
  }

  .menu {
    &:last-child {
      margin: 0;
    }

    &__el a { 
      font-size: 14px;
      text-align: center;
      margin: 10px;
    }
  }
} 

@media (max-width: 670px) { 
  body {
    padding: 0;
  }

  .page-header {
    height: 100vh;
    background-position-x: 15%;
  }

  .slogan {
    padding: 10px;
  }

  .scroll-down:hover {
    animation: none;
  }

  .logo--b {
    margin-left: 5vw;
  }

  .nav {
    justify-content: space-between;
    position: sticky;
  }

  .menu {
    display: block;
    position: absolute;
    top: 61px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    background-color: #ffffff;
    border-bottom: 1px solid #ebebeb;
    transition: .7s;
    
    &__el {
      text-align: center;
      margin: 20px;
      padding: 5px;

      a {
        padding: 5px;
      }
    }

    &.active {
      overflow: hidden;
      visibility: visible; 
      height: 211px;
      
      .menu__el {
        display: block;
      }
    }
  }

  .hamburger {
    width: 30px;
    height: 25px;
    background-color: transparent;
    position: relative;
    display: block;
    border: 0;
    margin-right: 5vw;
    overflow: hidden;

    &__bar {
      width: 100%;
      height: 3px;
      background-color: #000;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      transition: .3s;
    }

    &::after,
    &::before {
      content: '';
      width: 100%;
      height: 3px;
      display: block;
      position: absolute;
      background-color: #000000;
      transition: .3s;
    }

    &::after {
      bottom: 0;
    } 

    &::before {
      top: 0;
    }

    &.active {
      &::after {
        transform: rotate(-45deg) translate(8px, -8px);
      }

      &::before {
        transform: rotate(45deg) translate(8px, 8px);        
      }
  
      .hamburger__bar {
        left: -100px;
      }
    }
  }

  .section-desc {
    width: 90vw;
  }

  .about {
    padding-top: 75px;
  }

  .work-container {
    width: 95vw;
    height: 900px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
  }

  .one {
    grid-column: 1/3; 
  }

  .two {
    grid-row: 4/6;
    grid-column: 1/2;
  }

  .three {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .four {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .five {
    grid-row: 3/4;
    grid-column: 1/3;
  }

  .six {
    grid-row: 4/5;
    grid-column: 2/3;
  }

  .form {
    width: 100%;
  }

  .input {
    width: 90%;
  }

  .btn-container {
    width: 90%;
  }

  .testimonials {
    height: 400px;
  }
  
  .testimonial,
  .testimonial__desc,
  .slider,
  .slider-container {
    width: 90vw;
  }

  .social-media {
    padding-top: 80px;
  }

  .top:hover {
    animation: none;
  }
}